body{
    background-color: #303030;
}

main{
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 50px;
}

.text{
    display: flex;
    flex-direction: column;
    color: white;
    margin: 50px;
}

.text h1{
    font-size: 40px;
    margin-bottom: 10px;
}

.text p{
    font-size: 18px;
    margin-bottom: 10px;
}

.text p:last-child{
    font-size: 14px;
    margin-top: 20px;
}


@media screen and (max-width: 678px) {
    .container img{
        display: none;
    }
}